<ion-content padding class="transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">

  <ion-header>
    <ion-navbar>
    </ion-navbar>
  </ion-header>

  <div padding>

    <ion-item>
      <ion-input type="text" placeholder="RUT"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Clave"></ion-input>
    </ion-item>
    <button ion-button block (click)="login()" color="light" class="login-button">Login</button>
  </div>

    <ion-row>
        <ion-col>
          <img class="logo" src="assets/img/logo/logo-mailchimp.png" />
        </ion-col>
      </ion-row>

    <form class="login-card" [formGroup]="loginForm" novalidate ion-grid fixed padding>
    

      <ion-item>
        <ion-label floating>RUT</ion-label>
        <ion-input type="text" formControlName="rut" clearInput="true"></ion-input>
      </ion-item>
      <div class="form-error" *ngIf="!loginForm.controls.rut.valid && (loginForm.controls.rut.dirty || loginForm.controls.rut.touched)">
        <p [hidden]="!loginForm.controls.rut.errors.required">Campo requerido.</p>
        <p [hidden]="!loginForm.controls.rut.errors.norut">Usuario no se encuentra registrado.</p>
      </div>

      <ion-item>
        <ion-label floating>Contraseña</ion-label>
        <ion-input type="password" formControlName="clave" clearInput="true"></ion-input>
      </ion-item>
      <div class="form-error icon-left" *ngIf="!loginForm.controls.clave.valid && (loginForm.controls.clave.dirty || loginForm.controls.clave.touched)">
        <p [hidden]="!loginForm.controls.clave.errors.required">Campo requerido.</p>
        <p [hidden]="!loginForm.controls.clave.errors.wrongpass">La contraseña es incorrecta.</p>
      </div>

      <p text-center margin>
        <button ion-button color="uta_yellow" class="primary-action" (click)="login()" [disabled]="loginForm.invalid">Iniciar sesión</button>
      </p>
    </form>

  
</ion-content>

<ion-footer>
  <ion-toolbar class="footer">
    <div (click)="goToSignup()">
      <span>Problemas para Iniciar Sesión? <strong>Contáctenos</strong>.</span>
    </div>
  </ion-toolbar>
</ion-footer>
