<ion-header>
   <ion-navbar color="uta_yellow">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Información Académica</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list *ngFor="let item of periodo">
    <ion-list-header>
      {{item.ANO}}
    </ion-list-header>
  
    <button ion-item (click)="goToSemestre(item.PERIODO)">
      Semestre {{item.SEMESTRE}}
    </button>
  </ion-list>


  <ion-card *ngFor="let item of periodo">
    <ion-item>
      <ion-thumbnail item-left>
        <img src="../assets/img/totoro.png">
      </ion-thumbnail>
      <h3>{{item.ANO}}</h3>
      <p>Profesor Ricardo Valdivia • 1988</p>
      <button ion-button clear item-right>Detalles</button>
    </ion-item>
  </ion-card>
</ion-content>
